.Card {
    width: 190px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    &:hover {
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
        transform: scale(103%);
        transition: .2s;
        cursor: pointer;
    }

    img {
        width: 190px;
    }
}