.Filters {
    display: flex;
    justify-content: space-between;

    input {
        display: none;
    }



    label {
        color: rgba(255, 255, 255, 0.5);
        
        &:hover {
            transform: scale(120%);
            cursor: pointer;
            transition: .3s;
        }

        input:checked+.icon {
            color: rgb(255, 255, 255);
        }
    }
}