.CardsPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0 auto;

    .arrow {
        &:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.493);
            transition: .2s;
        }
    }

    .fractionDescription {
        h1 {
            text-align: center;
            font-family: "Oswald", sans-serif;
        }

        p {
            text-align: center;
        }
    }
}